{% extends 'baseBack.html.twig' %}

{% block title %}Edit Reponse{% endblock %}

{% block body %}
{% block content %}
<div class="container-fluid page-body-wrapper min-vh-100">

<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="/admin" class="nav-link">
                <div class="nav-profile-image">
                  <img src="{{asset('back/images/faces/face1.jpg')}}" alt="profile" />
                  <span class="login-status online"></span>
                </div>
                <div class="nav-profile-text d-flex flex-column">
                  <span class="font-weight-bold mb-2">David Grey. H</span>
                  <span class="text-secondary text-small">Project Manager</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index.html">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#forms" aria-expanded="false" aria-controls="forms">
                <span class="menu-title">Forms</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
              <div class="collapse" id="forms">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="{{asset('back/pages/forms/basic_elements.html')}}">Form Elements</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <span class="menu-title">Reponse</span>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
              <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="{{path('app_reponse_index')}}">Afficher</a>
                  </li>
                </ul>
              </div>
            </li>
        </ul>
  </nav>

<div class="main-panel w-100">
        <div class="content-wrapper min-vh-100 d-flex align-items-center justify-content-center">
            <div class="col-lg-10 col-md-12">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-4">Modifier Une Réponse</h4>

                            {{ include('reponse/_form.html.twig', {'button_label': 'Update'}) }}

                            <a href="{{ path('app_reponse_index') }}">back to list</a>

                            {{ include('reponse/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
</div>
</div>


{% endblock %}
{% endblock %}
