{% extends 'baseBack.html.twig' %}

{% block title %}Reponse
{% endblock %}

{% block body %}
	{% block content %}
		<div class="container-fluid page-body-wrapper">
			<nav class="sidebar sidebar-offcanvas" id="sidebar">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_admin2') }}">
							<span class="menu-title">Reclamation</span>
							<i class="mdi mdi-format-list-bulleted menu-icon"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_reponse_index') }}">
							<span class="menu-title">Reponse</span>
							<i class="mdi mdi-format-list-bulleted menu-icon"></i>
						</a>
					</li>
				</ul>
			</nav>
			<div class="main-panel d-flex justify-content-center align-items-center" style="min-height: 100vh; width: 100%;">
				<div class="row w-100">
					<div class="col-12">
						<div class="card shadow-lg">
							<div class="card-body p-5">
								<h3 class="card-title text-center mb-4">Détails de la Réponse</h3>
								<div class="table-responsive w-100">
									<table class="table table-bordered text-center table-hover table-striped table-lg w-100">
										<tbody>
											<tr>
												<th class="table-dark">ID</th>
												<td class="fw-bold">{{ reponse.id }}</td>
											</tr>
											<tr>
												<th class="table-dark">Description</th>
												<td class="fw-bold">{{ reponse.descRep }}</td>
											</tr>
											<tr>
												<th class="table-dark">Date</th>
												<td class="fw-bold">{{ reponse.dateRep ? reponse.dateRep|date('Y-m-d') : '' }}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="text-center mt-4">
									<a href="{{ path('app_reponse_index') }}" class="btn btn-primary btn-lg">Retour à la liste</a>
									<a href="{{ path('app_reponse_edit', {'id': reponse.id}) }}" class="btn btn-warning btn-lg">Modifier</a>
									{{ include('reponse/_delete_form.html.twig') }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	{% endblock %}
{% endblock %}
