<!DOCTYPE html>
<html lang="en">


	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Bienvenue!
			{% endblock %}
		</title>

		<!-- CSS Dependencies -->
		<link rel="stylesheet" href="{{ asset('back/vendors/mdi/css/materialdesignicons.min.css') }}">
		<link rel="stylesheet" href="{{ asset('back/vendors/ti-icons/css/themify-icons.css') }}">
		<link rel="stylesheet" href="{{ asset('back/vendors/css/vendor.bundle.base.css') }}">
		<link rel="stylesheet" href="{{ asset('back/vendors/font-awesome/css/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('back/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}">
		<link rel="stylesheet" href="{{ asset('back/css/style.css') }}">
		<link rel="shortcut icon" href="{{ asset('back/images/favicon.png') }}"/>
	</head>
	<body>


		<div
			class="container-fluid page-body-wrapper">
			<!-- Navbar -->


			<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

				<div class="navbar-brand-wrapper d-flex align-items-center justify-content-start">
					<a class="navbar-brand brand-logo" href="{{ path('app_admin') }}">Artis</a>

				</div>
				<div class="navbar-menu-wrapper d-flex align-items-stretch">
					<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
						<span class="mdi mdi-menu"></span>
					</button>
					<ul class="navbar-nav navbar-nav-right">
						<li class="nav-item nav-profile dropdown">
							<a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown">
								<div class="nav-profile-img">
									
									<span class="availability-status online"></span>
								</div>
								<div class="nav-profile-text">
									<p class="mb-1 text-black">David Greymaax</p>
								</div>
							</a>
							<div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
								<a class="dropdown-item" href="{{ path('profile_user') }}">
									<i class="mdi mdi-cached me-2 text-success"></i>
									profile
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{ path('app_logout') }}">
									<i class="mdi mdi-logout me-2 text-primary"></i>
									Signout
								</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			<!-- Sidebar -->
			<div class="container-fluid page-body-wrapper">

				<nav class="sidebar sidebar-offcanvas" id="sidebar">

        
				<ul class="nav">
      


            <li class="nav-item">
						<a class="nav-link" href="{{ path('admin_user') }}">
							<span class="menu-title">Gestion des utilisateurs</span>
							<i class="mdi mdi-home menu-icon"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('admin_stat_user') }}">
							<span class="menu-title">Stats</span>
							<i class="mdi mdi-home menu-icon"></i>
						</a>
					</li>
					
				<li class="nav-item">
				<a class="nav-link" href="{{ path('app_admin2') }}">
					<span class="menu-title">Reclamation</span>
					<i class="mdi mdi-comment-question menu-icon"></i>
				</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="{{ path('app_reponse_index') }}">
					<span class="menu-title">Reponse</span>
					<i class="mdi mdi-reply menu-icon"></i>
				</a>
				</li>

        
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="collapse" href="#forms" aria-expanded="false" aria-controls="forms">
								<span class="menu-title">Les gestions</span>
								<i class="mdi mdi-format-list-bulleted menu-icon"></i>
							</a>
							<div class="collapse" id="forms">
								<ul class="nav flex-column sub-menu">
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_magasin_new') }}">Magasin</a>
										<i class="mdi mdi-store menu-icon"></i>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_article_new') }}">Articles</a>
										<i class="mdi mdi-file-plus menu-icon"></i>
									</li>

									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_galerie_indexA') }}">Galeries</a>
										<i class="mdi mdi-image-multiple menu-icon"></i>
									</li>

									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_evenement_new') }}">Evenements</a>
										<i class="mdi mdi-calendar-plus menu-icon"></i>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_reservation_index') }}">Reservations</a>
										<i class="mdi mdi-bookmark-plus menu-icon"></i>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
								<span class="menu-title">Charts</span>
								<i class="mdi mdi-chart-bar menu-icon"></i>
							</a>
							<div class="collapse" id="charts">
								<ul class="nav flex-column sub-menu">
									<li class="nav-item">
										<a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
								<span class="menu-title">Tables</span>
								<i class="mdi mdi-table-large menu-icon"></i>
							</a>
							<div class="collapse" id="tables">
								<ul class="nav flex-column sub-menu">
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_magasin_index') }}">Table Magasin</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_article_index') }}">Table Produit</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_commande_index') }}">Table Commande</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_cours_index2') }}">Table Cours</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ path('app_evenement_index') }}">Table Evenement</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="pages/tables/responsive-table.html">Responsive Table</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="pages/tables/custom-table.html">Custom Table</a>

									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
								<span class="menu-title">User Pages</span>
								<i class="menu-arrow"></i>
								<i class="mdi mdi-lock menu-icon"></i>
							</a>
							<div class="collapse" id="auth">
								<ul class="nav flex-column sub-menu">
									<li class="nav-item">
										<a class="nav-link" href="pages/samples/blank-page.html">
											Blank Page
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="pages/samples/login.html">
											Login
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="pages/samples/register.html">
											Register
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="pages/samples/error-404.html">
											404
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="pages/samples/error-500.html">
											500
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="docs/documentation.html" target="_blank">
								<span class="menu-title">Documentation</span>
								<i class="mdi mdi-file-document-box menu-icon"></i>
							</a>
						</li>
					</ul>
				</nav>

				<!-- Main Panel -->
				<div class="main-panel">
					<div class="content-wrapper"> {% block body %}{% endblock %}
						</div>
					</div>


				</div>
				
			</div>
			

			<!-- Scripts -->
			<script src="{{ asset('back/vendors/js/vendor.bundle.base.js') }}"></script>
			<script src="{{ asset('back/vendors/chart.js/chart.umd.js') }}"></script>
			<script src="{{ asset('back/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
			<script src="{{ asset('back/js/off-canvas.js') }}"></script>
			<script src="{{ asset('back/js/misc.js') }}"></script>
			<script src="{{ asset('back/js/settings.js') }}"></script>
			<script src="{{ asset('back/js/todolist.js') }}"></script>
			<script src="{{ asset('back/js/dashboard.js') }}"></script>
		</body>

	</html>
