{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}


<section id="blog" class="p_4 pt-5">
{% for c in cours %}
    <div class="container-xl">
        <div class="blog_1 row">
            <div class="col-md-9">
                <div class="blog_1r">
                    <div class="blog_1ri row">
                    <div class="col-md-7">
                        <div class="blog_1ril clearfix position-relative">
                            <div class="blog_1ril1 clearfix">
                            <div class="grid clearfix">
                                    <figure class="effect-jazz mb-0">
                                        <a><img src="{{ c.image ? asset('uploads/cours/' ~ c.image) : asset('uploads/cours/default2.png') }}" class="w-100" alt="Course Image"></a>
                                    </figure>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="blog_1rir ps-4 pe-3">
                            <h5 class="mb-4"><a href="{{ path('app_cours_show',{'id': c.id}) }}">{{c.nomC}}</a></h5>
                            <p class="mb-4">{{c.categC}}</p>
                            <p class="font_14">{{c.contenuC|slice(0, 80) ~ '...'}}</p>
                            <h6 class="font_14 mb-0 mt-4"><a class="button p-3 pt-2 pb-2" href="{{ path('app_cours_show',{'id': c.id}) }}">READ MORE</a></h6>
                        </div>
	                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% else %}
        <p>no records found</p>
    {% endfor %}
</section>


{% endblock %}
