{% extends 'baseBack.html.twig' %}


{% block content %}
	<div class="row b-4">
		<div class="col-8 mx-auto p-4 border shadow-lg bg-white rounded">
			<h1>{{action}}</h1>

			{{ form_start(form) }}
			{% for field in form %}
				{% if 'hidden' not in field.vars.block_prefixes %}
					<div class="form-group">
						{{ form_label(field) }}
						{{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(field) }}
					</div>
				{% else %}
					{{ form_widget(field) }}
				{% endif %}
			{% endfor %}
			{# Affiche tous les champs du formulaire #}
			<button type="submit" class="btn btn-primary">{{action }}</button>
			{# Bouton de soumission #}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

{# Termine le formulaire #}
